bzip2==1.0.8
ca-certificates==2021.10.8
greenlet==1.1.2
ld_impl_linux-64==2.36.1
libffi==3.4.2
libgcc-ng==11.2.0
libgomp==11.2.0
libnsl==2.0.0
libstdcxx-ng==11.2.0
libuuid==2.32.1
libzlib==1.2.11
ncurses==6.2
openssl==3.0.0
pip==21.3.1
python==3.10.0
python_abi==3.10
readline==8.1
setuptools==58.4.0
sqlalchemy==1.4.26
sqlite==3.36.0
tk==8.6.11
tzdata==2021e
wheel==0.37.0
xz==5.2.5
zlib==1.2.11
